service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID} {
      allow read: if request.auth != null && (request.auth.uid == userID || request.data.isPublic == true);
      allow write: if request.auth.uid == userID;

      match /memos/{memoId} {
        allow read: if request.auth != null && (request.auth.uid == userID || request.parent().child('isPublic') == true);
        allow write: if request.auth.uid == userID;
      }

      match /secrets/{providerId} {
        allow read, write: if request.auth.uid == userID;
      }

      match /tags/{tagName} {
        allow read: if request.auth != null && (request.auth.uid == userID || request.parent().child('isPublic') == true);
        allow write: if request.auth.uid == userID;
      }

      match /subusers/{providerId} {
        allow read, write: if request.auth.uid == userID;
      }
    }

    match /memos/{memoId} {
      allow read: if request.auth != null && (request.auth.uid == request.resource.data.uid || get(request.resource.data.user).isPublic == true);
      allow write: if request.auth.uid == request.resource.data.uid;
    }

    match /tags/{tagName} {
      allow read, write: if request.auth != null;
    }
  }
}
